body{
  margin:0px;
  box-sizing: border-box;
  padding: 0px; 
  overflow: hidden;
}
*{  font-family: 'Courier Prime', monospace;
}
.App{
  margin:0px;
  box-sizing: border-box;
  padding: 0px; 
  width: 100%;
  height: 100%;
  min-height: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'Courier Prime', monospace;
  background-color: #292929;
  
}
/* .img{
  width: 100px;
  height: 100px;
  margin-left: 90px;
  aspect-ratio: 1/1;
  background-image: url('./t.webp');
 
} */
#select{
  width: 100%;
  height: 35px;
  float: left;
  padding:8px 2px 2px 5px;
  border-radius: 0 0 3px 3px ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #e3be86;
  color: #292929;
  border:0px;
  border-style: none;
  font-size: 15px;
  transition: all 0.5s;
  }
#select:focus{
  outline: none;
  background-color:#E0C9A6; 
}
#area{
  width: 330px;
  
  min-height: 250px;
  background-color: #faf1d4;
  transition: all 0.5s;
  border-style: none;
  border-radius: 3px;
  color: #292929;
  text-align: justify ;
  font-size: 15px;
  padding: 10px;
  margin-top: 25px;
  resize: none;
}
#area::placeholder{
  color: #292929;
  font-size: 15px;
}
#area:focus{
  outline: none;
  
}

.btn{
  width: 105px;
  height: 45px;
  
  padding:5px;
  border-radius: 3px  0 0 3px;
  margin-top: 15px;
  
  background-color: #e3be86;
  
  border:0px;
  border-style: none;
  font-size: 15px;
  transition: all 0.5s;
  
}
.stop{
  background-color: #faf1d4;
  border-radius: 0 3px 3px 0px ;
}
#img{
  /* transform: scale(.5); */
  
  width:25px;
  height: 25px;
 
 
}
.h{
  color: #faf5e5;
  margin-top: 25px;
  
}

#name{
  color: #faf5e5;
  opacity: 30%;
  bottom: 0%;
  position: fixed;
  font-size: 12px;

  
}
